.banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
 
}

.banner__left {
    display: block;
    margin: 2.5em;
    padding: 0;
    animation: pulse 4s infinite;
    
}

.banner__left__top {
    display: flex;
    flex-direction: row;
    margin: 0 1.2em;
    padding: 0;

}

.banner__left__top h4 {
    font-size: .8em;
    font-family: var(--fonte-principal);
    white-space: nowrap;
    color: var(--cor-fonte-principal);
    font-weight: 700;
    text-decoration: underline;
    padding: 0;
    margin: 0;
    
}

.banner__left__top h2 {
    margin-left: .5em;
    font-size: 1em;
    font-weight: 700;
    font-family: var(--fonte-principal);
    white-space: nowrap;
    color: var(--cor-dourado);
    text-shadow: 2px 2px 2px var(--cor-fonte-principal);
   
}

.banner__left__buttom {
    display: flex;
    flex-direction: row;

}
.banner__left__buttom h4 {
    font-size: .8em;
    font-family: var(--fonte-principal);
    white-space: nowrap;
    color: var(--cor-fonte-principal);
    font-weight: 700;
    text-decoration: underline;
    padding: .5em;
    margin-top: .3em;
    
}

.banner__left__buttom h3 {
    display: flex;
    flex-direction: row;
    font-size: 1em;
    font-weight: 700;
    font-family: var(--fonte-principal);
    white-space: nowrap;
    color: var(--cor-dourado);
    text-shadow: 2px 2px 2px var(--cor-fonte-principal);
    
}

.banner__center {    
    
}

.banner__center__top { /*body*/
    display: flex;
    width: 100%;
    box-sizing: border-box;
    border-radius: 1.5em;
    
}

.slider__list { /*content*/
    height: 11vw;
    width: 58vw;
    overflow: hidden;
    margin: 0;
    padding:  1em 0 0 1em;
    top: 50%;
    left: 50%;
    background: var(--cor-dourado);
    border-radius: .5em;
    transform: translate(-1%, -1%);
    box-shadow: .2em .2em .1em 0 var(--cor-rosa);

}


.slider__list .slide img {
    height: 100%;
    width: 100%;
    border-radius: .5em;

}

/* .navigation {
    position: absolute;
    bottom: 5em;
    

} */

.banner__center__buttom h6 {
    text-align: center;
    letter-spacing: .1em;
    font-family: var(--fonte-secundaria);
    margin: .5em;
    padding: 0;

}

.banner__right {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 3em;
    padding: 0;
    animation: pulse 4s infinite;
    
}

.banner__right__validade h5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: .6em;
    letter-spacing: .1em;
    font-weight: 700;
    font-family: var(--fonte-principal);
    white-space: nowrap;
    color: var(--cor-fonte-principal);
    margin: .5em 3em .5em 1em;
    
}

.banner__right__cupom h2 {
    text-align: center;
    margin: .3em 0 0 0;
    padding: 0;
    justify-content: space-evenly;
    font-size: 1em;
    font-weight: 700;
    font-family: var(--fonte-principal);
    white-space: nowrap;
    color: var(--cor-rosa);
    animation: pulse 4s infinite;
   
}

