/*CABECALHO*/
.main__header{
    display: block;
    margin: .5em;
           
}

.header__logo__pesquisa__icones{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: .5em;
    
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.logo img {
    border-radius: .8em;
    height: 8vh;
    margin: 0;
        
}

.header__pesquisa {
    margin-left: 1em;
   
}

.header__pesquisa h6 {
    margin: 1em ;
    text-align: center;

}

.pesquisar__input {
    border-radius: 2em;
    background-color: transparent;
    height: 3vh;
    width: 50vh;
    text-align: center;
    border: .2em solid var(--cor-dourado);
    font-family: var(--cor-fonte-principal);
    font-size: .7em;
    font-weight: 700;
    background: url("/assets/lupa.svg") no-repeat;
    background-position: 11em .3em;
     
}

.pesquisar__input:focus {
    outline: none;
}

.clear__input {
    display: none; /* Ocultar por padrão */
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #999;
}
      

.clear__input:hover {
    color: #f7f0f0;
}

.icones {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.icones ul, li {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
       
}

.icones a:hover {
    transform: scale(1.3);
    
}

.icones img {
    text-decoration: none;
    margin: 0 1em;
    transition: transform 0.3s;

}

.header__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 5vh;
    background-color: var(--cor-dourado);
   
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: .5em 0;
            
}

.menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    
}.menu li {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration: none;
    margin: .5em 2.2em;
    font-weight: 700;
    color: var(--cor-fonte-principal);
    border: none;
    cursor: pointer;
            
}

.menu a {
    text-decoration: none;
    color: var(--cor-fonte-principal);
    text-shadow: 2px 2px 5px var(--cor-de-sobreamento);
    font-weight: bold;
    transition: font-size 0.3s, text-shadow 0.3s;
}

.menu a:hover {
    font-size: 1.5em;
    
  }


