/*CABECALHO*/
.main__header{
    display: block;
    width: 100%;
    height: auto;
              
}

.header__logo__search__icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: .5em;
      
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.logo img {
    border-radius: .8em;
    height: 6vw;
    
}
        

.header__search {
    margin: 1em;
   
}

.header__search h6 {
    pad: .5em ;
    text-align: center;

}

.search__input {
    border-radius: 2em;
    background-color: transparent;
    margin-top: .5em;
    height: 3vh;
    width: 30vw;
    text-align: center;
    border: .2em solid var(--cor-dourado);
    font-family: var(--cor-fonte-principal);
    font-size: .7em;
    font-weight: 700;
    background: url("/assets/lupa.svg") no-repeat;
     
}

.search__input:focus {
    outline: none;

}

.clear__input {
    display: none; /* Ocultar por padrão */
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #999;
}
      

.clear__input:hover {
    color: #f7f0f0;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.icons ul, li {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
       
}

.icons a:hover {
    transform: scale(1.3);
    
}

.user img {
    text-decoration: none;
    margin: 0 2em;
    transition: transform 0.3s;

}

.bag img {
    text-decoration: none;
    margin: 0 2em;
    transition: transform 0.3s;

}


.header__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 1vh;
    margin: 2.5em .5em;
   
}

.menu {
    border-radius: .5em;
    background-color: var(--cor-dourado);
    width: 100%;

}

.menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    
}.menu li {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration: none;
    margin: .5em 2.2em;
    font-weight: 700;
    color: var(--cor-fonte-principal);
    border: none;
    cursor: pointer;
            
}

.menu a {
    text-decoration: none;
    color: var(--cor-fonte-principal);
    text-shadow: 2px 2px 5px var(--cor-de-sobreamento);
    font-weight: bold;
    transition: font-size 0.3s, text-shadow 0.3s;
}

.menu a:hover {
    font-size: 1.5em;
    
  }


