
.main__container {
    display: block;
  
}

.lancamentos {
    margin-top: 5em;

}

.lancamentos__container {
    background: var(--cor-de-fundo-nav);
    border-radius: 1.2em;
    margin: 1em;
    padding: 1em;
    
   
}

.titulo h2{
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;    
    
}

.slides {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.slide img {
    justify-content: center;
    margin: 1em;
    width: 12vw;
    height: 12vh;
    box-shadow: 0px 4px 4px 0px;
    
}

.slide h6 {
    text-align: center;
    margin: 0;
    font-size: .8em;
    
}

.grupo {
    margin: .5em;
    background: var(--cor-de-fundo-nav);
    padding: 1em;
    border-radius: 1.2em;
}

.grupo__container {
    background: var(--cor-de-fundo-nav);
    
    margin: 1em;
    padding: 1em;
    
      
}

.grupo__links{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--cor-de-fundo-nav);
    
}

.titulo h3{
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: var(--cor-rosa)
    
}

.titulo h4{
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding: 1em;
    
}

.link  {
    background: url("/assets/link.svg") no-repeat;
    padding: .4em;

}

.link  a{
    color: var(--cor-rosa);
    text-decoration: none;
    margin-left: .3em;
    margin-right: 1.5em;
    font-weight: 500; 
      
}

