/*CORPO */

.main__container {
    display: block;

}

.cadastro {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   padding: .5em;
   background-color: var(--cor-rosa);
   border-radius: .5em;
   margin: .5em;
   
}

.cadastro__titulo {
    margin: 1em;
    text-align: center;

}

.cadastro__titulo h4{
    font-family: var(--fonte-principal);
    font-size: 1em;

    
}

.cadastro__titulo h6{
    padding: 1em;
    font-family: var(--fonte-principal);
    font-size: 1em;
    
    
}

.input__email {
    display: flex;
    justify-content: space-evenly;

}

.input__email input {
    display: flex;
    justify-content: space-evenly;
    font-family: var(--fonte-principal);
    color: var(--cor-fonte-principal);
    gap: 10px;
    width: 70em;
    height: 1em;
    padding: 1em;
    font-size: .4em;
    font-weight: 700;
    text-align: left;
    border-radius: 2em;
    border: .2em solid var(--cor-dourado);
    
}


 .input__email img {
    display: flex;
    justify-content: space-evenly;
    border: 3px solid;
 }
 
 










.content__carrossel {
    background: var(--cor-de-fundo-nav);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
    box-shadow: 0px 4px 4px 0px;
}

.carrossel__titulo {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

.carrossel__lancamentos {
    display: flex;
    justify-content: space-evenly;
}

.carrossel__lancamentos__imagem img {
    justify-content: center;
    margin: 1em;
    
}

.carrossel__lancamentos__imagem h6 {
    text-align: center;
    margin: 0;
    font-size: 14px;
    
}
.saiba__mais {
    background: var(--cor-de-fundo-nav);
    box-shadow: 0px 4px 4px 0px;
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
    font-weight: 700;
}

.saiba__mais__titulo {
    
    
}

.saiba__mais__imagens {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
    
}

.saiba__mais__texto {
    padding: 0.6em 2.7em;
    color: var(--cor-fonte-principal);
    text-decoration: none;
}

.contato__texto {
    font-weight: 500; /*negrito*/
    margin:  3em; /*o primeiro se refere a em cima e embaixo e o segundo aos lados*/
}